* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  width: calc(100% - 150px);
  display: flex;
  margin-left: 100px;
  background: #fff;
}
.topbar .login {
  margin-left: auto;
  margin-right: 50px;
}
.menu {
  background: #197a56;
  color: #fff;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
}
.menu div {
  height: 50px;
  border-bottom: 1px solid #fff;
}

.inner-wrap {
  margin-left: 100px;
  width: calc(100% - 150px);
}

.subscriptions {
  margin-bottom: 100px;
}

.subscriptions .inner-wrap {
  display: flex;
  flex-wrap: wrap;
}

.subscriptions img {width: 100%;}
.subscription.isSubscribed {
  background: green;
}
.subscription .inputs {
  background: rgba(0,0,0,.5);
  padding: 10px;
  color: #fff;
  margin-top: auto;
}
.subscription .inputs label {
  cursor: pointer;
}

.subscription .inner {
  padding: 20px;
}

.subscription .inner h3 {margin-top: 0;}

.subscription {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: calc(100% - 20px);
  margin: 10px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .subscription {
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .subscription {
    width: calc(33.333% - 20px);
  }
}

@media (min-width: 950px) {
  .subscription {
    width: calc(25% - 20px);
  }
}


.extra-stuff .inner-wrap {
  display: flex;
}

.extra-stuff .column {
  width: 50%;
  padding-right: 20px;
}

.extra-stuff {
  background: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 75px;
  padding: 30px 0;
}

.lighter {
  color: gray;
}

.dropdown:after {
  content: "+";
  margin-left: 5px;
  font-size: 25px;
}
.dropdown {
  color: #32c77f;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribe-bar .inner-wrap {
  display: flex;
}

.subscribe-bar .right {
  margin-left: auto;
}
.subscribe-bar button {
  font-size: 20px;
  margin-left: 20px;
  color: gray;
}

.subscribe-bar button.active {
  background: green;
  color: #fff;
}

.subscribe-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: gray;
  padding: 20px 0;
  text-align: right;
}

.subscribe-modal .subscribe-modal-contents {
  padding: 20px 20px 50px 20px;
  background: #fff;
  margin: auto;
  width: 50%;
  position: relative;
}

.subscribe-modal-contents li {
  font-weight: bold;
}

.subscribe-modal .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.subscribe-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.5);
  display: flex;
}

.subscribe-modal .remove-subscription {
  font-weight: bold;
  color: red;
  cursor: pointer;
}
.subscribe-button,
.signup {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.signup {
  right: 100px;
}